## Mini Exercise
1. Load the titanic dataset that you've put together from previous lessons.
2. Split your data into training and test.
3. Fit a logistic regression model on your training data using sklearn's
   linear_model.LogisticRegression class. Use fare and pclass as the
   predictors.
4. Use the model's .predict method. What is the output?
5. Use the model's .predict_proba method. What is the output? Why do you
   think it is shaped like this?
6. Evaluate your model's predictions on the test data set. How accurate
   is the mode? How does changing the threshold affect this?

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn import preprocessing

import acquire

df = acquire.get_titanic_data()
train, test = acquire.prep_titanic(df)
train = train.dropna()
test = test.dropna()
train.head()

,passenger_id,survived,pclass,sex,sibsp,parch,class,embark_town,alone,C,Q,S,age_mm,fare_mm
613,613,0,3,male,0,0,Third,Queenstown,1,0.0,1.0,0.0,0.293286,0.096618
130,130,0,3,male,0,0,Third,Cherbourg,1,1.0,0.0,0.0,0.565099,0.025374
220,220,1,3,male,0,0,Third,Southampton,1,0.0,0.0,1.0,0.456374,0.025374
225,225,0,3,male,0,0,Third,Southampton,1,0.0,0.0,1.0,0.048655,0.054457
209,209,1,1,male,0,0,First,Cherbourg,1,1.0,0.0,0.0,0.306877,0.513342

In [2]:
X_train = train[['fare_mm', 'pclass']]
y_train = train[['survived']]

X_test = test[['fare_mm', 'pclass']]
y_test = test[['survived']]

In [3]:
logit = LogisticRegression().fit(X_train, y_train)
y_pred = logit.predict(X_train)
y_pred

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0,
       0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0])

In [4]:
y_pred_proba = logit.predict_proba(X_train)
y_pred_proba

array([[0.70332668, 0.29667332],
       [0.70104299, 0.29895701],
       [0.70104299, 0.29895701],
       [0.70197645, 0.29802355],
       [0.36940447, 0.63059553],
       [0.36049449, 0.63950551],
       [0.35545254, 0.64454746],
       [0.54061097, 0.45938903],
       [0.7007325 , 0.2992675 ],
       [0.35180066, 0.64819934],
       [0.70072466, 0.29927534],
       [0.70104299, 0.29895701],
       [0.70068231, 0.29931769],
       [0.70022718, 0.29977282],
       [0.70022718, 0.29977282],
       [0.7020453 , 0.2979547 ],
       [0.35248494, 0.64751506],
       [0.35301691, 0.64698309],
       [0.35290844, 0.64709156],
       [0.35486183, 0.64513817],
       [0.70071368, 0.29928632],
       [0.70211231, 0.29788769],
       [0.70332694, 0.29667306],
       [0.53282575, 0.46717425],
       [0.35516641, 0.64483359],
       [0.35215723, 0.64784277],
       [0.53030022, 0.46969978],
       [0.70135642, 0.29864358],
       [0.70189194, 0.29810806],
       [0.35447464, 0.64552536],
       [0.35767139, 0.64232861],
       [0.53008937, 0.46991063],
       [0.53189284, 0.46810716],
       [0.53078459, 0.46921541],
       [0.53282575, 0.46717425],
       [0.70071368, 0.29928632],
       [0.70187551, 0.29812449],
       [0.53011391, 0.46988609],
       [0.3518109 , 0.6481891 ],
       [0.70515569, 0.29484431],
       [0.70069773, 0.29930227],
       [0.53357261, 0.46642739],
       [0.35655776, 0.64344224],
       [0.35180208, 0.64819792],
       [0.53206975, 0.46793025],
       [0.70104299, 0.29895701],
       [0.53776568, 0.46223432],
       [0.5312689 , 0.4687311 ],
       [0.5316619 , 0.4683381 ],
       [0.70072283, 0.29927717],
       [0.3530451 , 0.6469549 ],
       [0.52991982, 0.47008018],
       [0.70071368, 0.29928632],
       [0.35306218, 0.64693782],
       [0.35180607, 0.64819393],
       [0.70123733, 0.29876267],
       [0.70229557, 0.29770443],
       [0.70338884, 0.29661116],
       [0.53173981, 0.46826019],
       [0.35180208, 0.64819792],
       [0.70104299, 0.29895701],
       [0.7051194 , 0.2948806 ],
       [0.70071525, 0.29928475],
       [0.35304026, 0.64695974],
       [0.35291868, 0.64708132],
       [0.53128753, 0.46871247],
       [0.3519866 , 0.6480134 ],
       [0.3517512 , 0.6482488 ],
       [0.70077093, 0.29922907],
       [0.52991982, 0.47008018],
       [0.70215142, 0.29784858],
       [0.70122166, 0.29877834],
       [0.35180891, 0.64819109],
       [0.70510022, 0.29489978],
       [0.70072283, 0.29927717],
       [0.35325868, 0.64674132],
       [0.70140341, 0.29859659],
       [0.70372607, 0.29627393],
       [0.35306218, 0.64693782],
       [0.53030022, 0.46969978],
       [0.70072022, 0.29927978],
       [0.3521086 , 0.6478914 ],
       [0.70201401, 0.29798599],
       [0.70563133, 0.29436867],
       [0.35186065, 0.64813935],
       [0.70197645, 0.29802355],
       [0.70385575, 0.29614425],
       [0.70104299, 0.29895701],
       [0.70189194, 0.29810806],
       [0.35179896, 0.64820104],
       [0.70066505, 0.29933495],
       [0.70072283, 0.29927717],
       [0.35231054, 0.64768946],
       [0.70406775, 0.29593225],
       [0.70271373, 0.29728627],
       [0.7021947 , 0.2978053 ],
       [0.53049025, 0.46950975],
       [0.53024619, 0.46975381],
       [0.3517512 , 0.6482488 ],
       [0.71431891, 0.28568109],
       [0.71647991, 0.28352009],
       [0.70185308, 0.29814692],
       [0.52983442, 0.47016558],
       [0.70071368, 0.29928632],
       [0.70254599, 0.29745401],
       [0.70098028, 0.29901972],
       [0.52986982, 0.47013018],
       [0.70104299, 0.29895701],
       [0.53011391, 0.46988609],
       [0.70185751, 0.29814249],
       [0.7008862 , 0.2991138 ],
       [0.53417352, 0.46582648],
       [0.7071444 , 0.2928556 ],
       [0.70113416, 0.29886584],
       [0.70355138, 0.29644862],
       [0.70154908, 0.29845092],
       [0.70517746, 0.29482254],
       [0.35215723, 0.64784277],
       [0.52993131, 0.47006869],
       [0.35308268, 0.64691732],
       [0.35641791, 0.64358209],
       [0.52991082, 0.47008918],
       [0.70245194, 0.29754806],
       [0.71047798, 0.28952202],
       [0.53156691, 0.46843309],
       [0.70111248, 0.29888752],
       [0.700681  , 0.299319  ],
       [0.70088385, 0.29911615],
       [0.53011515, 0.46988485],
       [0.70113416, 0.29886584],
       [0.70185751, 0.29814249],
       [0.70267076, 0.29732924],
       [0.36936091, 0.63063909],
       [0.70151776, 0.29848224],
       [0.53026109, 0.46973891],
       [0.35191666, 0.64808334],
       [0.52993131, 0.47006869],
       [0.70271373, 0.29728627],
       [0.5300459 , 0.4699541 ],
       [0.70283196, 0.29716804],
       [0.3530451 , 0.6469549 ],
       [0.36167135, 0.63832865],
       [0.70188177, 0.29811823],
       [0.70131881, 0.29868119],
       [0.70075211, 0.29924789],
       [0.35270349, 0.64729651],
       [0.35176343, 0.64823657],
       [0.70094892, 0.29905108],
       [0.52997696, 0.47002304],
       [0.52991982, 0.47008018],
       [0.70166966, 0.29833034],
       [0.70113442, 0.29886558],
       [0.70229557, 0.29770443],
       [0.35180066, 0.64819934],
       [0.35189903, 0.64810097],
       [0.70072179, 0.29927821],
       [0.70119972, 0.29880028],
       [0.52991982, 0.47008018],
       [0.53480627, 0.46519373],
       [0.70118379, 0.29881621],
       [0.70482278, 0.29517722],
       [0.70104299, 0.29895701],
       [0.70213917, 0.29786083],
       [0.53167028, 0.46832972],
       [0.70269576, 0.29730424],
       [0.52993131, 0.47006869],
       [0.5300282 , 0.4699718 ],
       [0.52986982, 0.47013018],
       [0.7006993 , 0.2993007 ],
       [0.70081406, 0.29918594],
       [0.70068231, 0.29931769],
       [0.70217045, 0.29782955],
       [0.70082347, 0.29917653],
       [0.7007325 , 0.2992675 ],
       [0.35668905, 0.64331095],
       [0.35179896, 0.64820104],
       [0.35270349, 0.64729651],
       [0.35183648, 0.64816352],
       [0.53076658, 0.46923342],
       [0.5312689 , 0.4687311 ],
       [0.70071682, 0.29928318],
       [0.53053123, 0.46946877],
       [0.70072466, 0.29927534],
       [0.70113416, 0.29886584],
       [0.35205485, 0.64794515],
       [0.52993131, 0.47006869],
       [0.70210788, 0.29789212],
       [0.5312689 , 0.4687311 ],
       [0.70185751, 0.29814249],
       [0.70187551, 0.29812449],
       [0.70977562, 0.29022438],
       [0.70104299, 0.29895701],
       [0.35161136, 0.64838864],
       [0.70316434, 0.29683566],
       [0.35180891, 0.64819109],
       [0.70502374, 0.29497626],
       [0.53725619, 0.46274381],
       [0.53027413, 0.46972587],
       [0.35222549, 0.64777451],
       [0.70071525, 0.29928475],
       [0.35482387, 0.64517613],
       [0.70218766, 0.29781234],
       [0.70202731, 0.29797269],
       [0.52990895, 0.47009105],
       [0.53016918, 0.46983082],
       [0.70606617, 0.29393383],
       [0.53141046, 0.46858954],
       [0.70515569, 0.29484431],
       [0.70122166, 0.29877834],
       [0.70104299, 0.29895701],
       [0.53053123, 0.46946877],
       [0.3517512 , 0.6482488 ],
       [0.70071525, 0.29928475],
       [0.70143526, 0.29856474],
       [0.70123733, 0.29876267],
       [0.70867555, 0.29132445],
       [0.71553819, 0.28446181],
       [0.70154438, 0.29845562],
       [0.70071525, 0.29928475],
       [0.70563133, 0.29436867],
       [0.70084491, 0.29915509],
       [0.35660381, 0.64339619],
       [0.70121488, 0.29878512],
       [0.7070215 , 0.2929785 ],
       [0.7007325 , 0.2992675 ],
       [0.70355138, 0.29644862],
       [0.52991237, 0.47008763],
       [0.7008862 , 0.2991138 ],
       [0.70522722, 0.29477278],
       [0.700681  , 0.299319  ],
       [0.70109263, 0.29890737],
       [0.53011391, 0.46988609],
       [0.36132404, 0.63867596],
       [0.70107434, 0.29892566],
       [0.70066976, 0.29933024],
       [0.70187316, 0.29812684],
       [0.35332333, 0.64667667],
       [0.3531627 , 0.6468373 ],
       [0.35175632, 0.64824368],
       [0.53554869, 0.46445131],
       [0.70067446, 0.29932554],
       [0.70154908, 0.29845092],
       [0.7051194 , 0.2948806 ],
       [0.35180891, 0.64819109],
       [0.7007921 , 0.2992079 ],
       [0.70071525, 0.29928475],
       [0.35180891, 0.64819109],
       [0.52991982, 0.47008018],
       [0.7007393 , 0.2992607 ],
       [0.70185751, 0.29814249],
       [0.7058488 , 0.2941512 ],
       [0.53026109, 0.46973891],
       [0.53011391, 0.46988609],
       [0.70070113, 0.29929887],
       [0.70187316, 0.29812684],
       [0.70213917, 0.29786083],
       [0.35171027, 0.64828973],
       [0.70140341, 0.29859659],
       [0.70068074, 0.29931926],
       [0.70160859, 0.29839141],
       [0.53030022, 0.46969978],
       [0.36057267, 0.63942733],
       [0.53011111, 0.46988889],
       [0.70077093, 0.29922907],
       [0.53003938, 0.46996062],
       [0.35180891, 0.64819109],
       [0.70185751, 0.29814249],
       [0.35180607, 0.64819393],
       [0.70100223, 0.29899777],
       [0.52990895, 0.47009105],
       [0.53083768, 0.46916232],
       [0.70366992, 0.29633008],
       [0.3519866 , 0.6480134 ],
       [0.35221582, 0.64778418],
       [0.5312689 , 0.4687311 ],
       [0.35181801, 0.64818199],
       [0.70536222, 0.29463778],
       [0.70072466, 0.29927534],
       [0.70213917, 0.29786083],
       [0.35179896, 0.64820104],
       [0.53826578, 0.46173422],
       [0.35629782, 0.64370218],
       [0.3519866 , 0.6480134 ],
       [0.7010132 , 0.2989868 ],
       [0.7007325 , 0.2992675 ],
       [0.70166966, 0.29833034],
       [0.70077093, 0.29922907],
       [0.53164141, 0.46835859],
       [0.7007325 , 0.2992675 ],
       [0.7043931 , 0.2956069 ],
       [0.70068231, 0.29931769],
       [0.70499652, 0.29500348],
       [0.7008862 , 0.2991138 ],
       [0.70104299, 0.29895701],
       [0.71332955, 0.28667045],
       [0.52991982, 0.47008018],
       [0.70072466, 0.29927534],
       [0.70185751, 0.29814249],
       [0.70082896, 0.29917104],
       [0.70072152, 0.29927848],
       [0.53167028, 0.46832972],
       [0.7007325 , 0.2992675 ],
       [0.35229689, 0.64770311],
       [0.5312689 , 0.4687311 ],
       [0.70166966, 0.29833034],
       [0.70271373, 0.29728627],
       [0.70505848, 0.29494152],
       [0.70271373, 0.29728627],
       [0.5312689 , 0.4687311 ],
       [0.3530451 , 0.6469549 ],
       [0.70270826, 0.29729174],
       [0.52990833, 0.47009167],
       [0.53033748, 0.46966252],
       [0.70082347, 0.29917653],
       [0.70218766, 0.29781234],
       [0.70104299, 0.29895701],
       [0.70185751, 0.29814249],
       [0.3521487 , 0.6478513 ],
       [0.35265226, 0.64734774],
       [0.35612629, 0.64387371],
       [0.70196523, 0.29803477],
       [0.70072466, 0.29927534],
       [0.36940447, 0.63059553],
       [0.70410515, 0.29589485],
       [0.35340566, 0.64659434],
       [0.70348273, 0.29651727],
       [0.53104538, 0.46895462],
       [0.35270861, 0.64729139],
       [0.70213917, 0.29786083],
       [0.52985709, 0.47014291],
       [0.7008862 , 0.2991138 ],
       [0.35180208, 0.64819792],
       [0.7071444 , 0.2928556 ],
       [0.35236203, 0.64763797],
       [0.70092592, 0.29907408],
       [0.52986982, 0.47013018],
       [0.7022643 , 0.2977357 ],
       [0.70113703, 0.29886297],
       [0.70185751, 0.29814249],
       [0.70072466, 0.29927534],
       [0.35270349, 0.64729651],
       [0.70185751, 0.29814249],
       [0.530412  , 0.469588  ],
       [0.53040859, 0.46959141],
       [0.52997696, 0.47002304],
       [0.35355779, 0.64644221],
       [0.5312689 , 0.4687311 ],
       [0.7008862 , 0.2991138 ],
       [0.70104299, 0.29895701],
       [0.53725619, 0.46274381],
       [0.53067282, 0.46932718],
       [0.53111989, 0.46888011],
       [0.35215723, 0.64784277],
       [0.70238158, 0.29761842],
       [0.35179896, 0.64820104],
       [0.70070741, 0.29929259],
       [0.52993131, 0.47006869],
       [0.70063498, 0.29936502],
       [0.7008862 , 0.2991138 ]])

In [5]:
print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit.score(X_train, y_train)))

Accuracy of Logistic Regression classifier on training set: 0.63

In [6]:
print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(logit.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.72

# Model Exercises

In this exercise, we'll continue working with the titanic dataset and building logistic regression models. Throughout this exercise, be sure you are training, evaluation, and comparing models on the train and validate datasets. The test dataset should only be used for your final model.

For all of the models you create, choose a threshold that optimizes for accuracy.

In [7]:
df = acquire.get_titanic_data()
df = df.drop(columns='deck')
df.dropna(inplace=True)
df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

In [8]:
# label encode sex column

le = preprocessing.LabelEncoder()
df['sex_enc'] = le.fit_transform(df.sex)

# One-hot encode embarked column

encoded_values = sorted(list(df['embarked'].unique()))
le = preprocessing.LabelEncoder()
enc = le.fit_transform(df['embarked'])
ohe_array = np.array(enc).reshape(len(enc), 1)
ohe = preprocessing.OneHotEncoder(sparse=False, categories='auto')
df_ohe = ohe.fit_transform(ohe_array)
enc = pd.DataFrame(data=df_ohe, columns=encoded_values, index=df.index)
df = df.join(enc)

df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,sex_enc,C,Q,S
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,1,0.0,0.0,1.0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,0,1.0,0.0,0.0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,0,0.0,0.0,1.0
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,0,0.0,0.0,1.0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,1,0.0,0.0,1.0

In [9]:
train, test = acquire.split_my_data(df, 0.8)
train, valid = acquire.split_my_data(train, 0.8)

test.shape, train.shape, valid.shape

((143, 16), (455, 16), (114, 16))

Create another model that includes age in addition to fare and pclass. Does this model perform better than your previous one?

In [10]:
X_train = train[['age', 'fare', 'pclass']]
X_valid = valid[['age', 'fare', 'pclass']]

y_train = train.survived
y_valid = valid.survived
y_test = test.survived

In [11]:
logit2 = LogisticRegression().fit(X_train, y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit2.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validation set: {:.2f}'
     .format(logit2.score(X_valid, y_valid)))

Accuracy of Logistic Regression classifier on training set: 0.72
Accuracy of Logistic Regression classifier on validation set: 0.67

Include sex in your model as well. Note that you'll need to encode this feature before including it in a model.

In [12]:
X_train = train[['age', 'fare', 'pclass', 'sex_enc']]
X_valid = valid[['age', 'fare', 'pclass', 'sex_enc']]

In [13]:
logit3 = LogisticRegression().fit(X_train, y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit3.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validation set: {:.2f}'
     .format(logit3.score(X_valid, y_valid)))

Accuracy of Logistic Regression classifier on training set: 0.79
Accuracy of Logistic Regression classifier on validation set: 0.80

Try out other combinations of features and models.

In [14]:
X_train = train[['age', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S']]
X_valid = valid[['age', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S']]

In [15]:
logit4 = LogisticRegression().fit(X_train, y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit4.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validation set: {:.2f}'
     .format(logit4.score(X_valid, y_valid)))

Accuracy of Logistic Regression classifier on training set: 0.79
Accuracy of Logistic Regression classifier on validation set: 0.82

In [16]:
X_train = train[['age', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]
X_valid = valid[['age', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]

In [17]:
logit5 = LogisticRegression().fit(X_train, y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit5.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validation set: {:.2f}'
     .format(logit5.score(X_valid, y_valid)))

Accuracy of Logistic Regression classifier on training set: 0.81
Accuracy of Logistic Regression classifier on validation set: 0.80

Choose you best model and evaluate it on the test dataset. Is it overfit?

In [18]:
X_test = test[['age', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]

print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(logit5.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.80

Bonus How do different strategies for handling the missing values in the age column affect model performance?

In [19]:
df = acquire.get_titanic_data()
df = df.drop(columns='deck')
df.embarked = df.embarked.fillna('S')

df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1

In [20]:
df[df.age.isna()].head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone
5,5,0,3,male,NaN,0,0,8.4583,Q,Third,Queenstown,1
17,17,1,2,male,NaN,0,0,13.0000,S,Second,Southampton,1
19,19,1,3,female,NaN,0,0,7.2250,C,Third,Cherbourg,1
26,26,0,3,male,NaN,0,0,7.2250,C,Third,Cherbourg,1
28,28,1,3,female,NaN,0,0,7.8792,Q,Third,Queenstown,1

In [21]:
df['age_imp'] = df["age"].fillna(df.groupby("pclass")["age"].transform("mean"))

In [22]:
df[df.age.isna()].head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,age_imp
5,5,0,3,male,NaN,0,0,8.4583,Q,Third,Queenstown,1,25.14062
17,17,1,2,male,NaN,0,0,13.0000,S,Second,Southampton,1,29.87763
19,19,1,3,female,NaN,0,0,7.2250,C,Third,Cherbourg,1,25.14062
26,26,0,3,male,NaN,0,0,7.2250,C,Third,Cherbourg,1,25.14062
28,28,1,3,female,NaN,0,0,7.8792,Q,Third,Queenstown,1,25.14062

In [23]:
# label encode sex column

le = preprocessing.LabelEncoder()
df['sex_enc'] = le.fit_transform(df.sex)

# One-hot encode embarked column

encoded_values = sorted(list(df['embarked'].unique()))
le = preprocessing.LabelEncoder()
enc = le.fit_transform(df['embarked'])
ohe_array = np.array(enc).reshape(len(enc), 1)
ohe = preprocessing.OneHotEncoder(sparse=False, categories='auto')
df_ohe = ohe.fit_transform(ohe_array)
enc = pd.DataFrame(data=df_ohe, columns=encoded_values, index=df.index)
df = df.join(enc)

df.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,embark_town,alone,age_imp,sex_enc,C,Q,S
0,0,0,3,male,22.0,1,0,7.2500,S,Third,Southampton,0,22.0,1,0.0,0.0,1.0
1,1,1,1,female,38.0,1,0,71.2833,C,First,Cherbourg,0,38.0,0,1.0,0.0,0.0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,Southampton,1,26.0,0,0.0,0.0,1.0
3,3,1,1,female,35.0,1,0,53.1000,S,First,Southampton,0,35.0,0,0.0,0.0,1.0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,Southampton,1,35.0,1,0.0,0.0,1.0

In [24]:
train, test = acquire.split_my_data(df, 0.8)
train, valid = acquire.split_my_data(train, 0.8)

test.shape, train.shape, valid.shape

((179, 17), (569, 17), (143, 17))

In [25]:
X_train = train[['age_imp', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]
X_valid = valid[['age_imp', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]

y_train = train.survived
y_valid = valid.survived

In [26]:
logit6 = LogisticRegression().fit(X_train, y_train)

print('Accuracy of Logistic Regression classifier on training set: {:.2f}'
     .format(logit6.score(X_train, y_train)))
print('Accuracy of Logistic Regression classifier on validation set: {:.2f}'
     .format(logit6.score(X_valid, y_valid)))

Accuracy of Logistic Regression classifier on training set: 0.82
Accuracy of Logistic Regression classifier on validation set: 0.78

In [27]:
X_test = test[['age_imp', 'fare', 'pclass', 'sex_enc', 'C', 'Q', 'S', 'sibsp', 'parch']]
y_test = test.survived

print('Accuracy of Logistic Regression classifier on test set: {:.2f}'
     .format(logit5.score(X_test, y_test)))

Accuracy of Logistic Regression classifier on test set: 0.79

Bonus: How do different strategies for encoding sex affect model performance?