In [1]:
import numpy as np
import pandas as pd
from wrangle import wrangle_telco
import split_scale

In [2]:
tc_df = wrangle_telco()
X = tc_df[['monthly_charges', 'tenure']]
y = tc_df[['total_charges']]

In [3]:
X_train, X_test, y_train, y_test = split_scale.split_my_data_xy(X, y, 0.8)
X_train.head()

             monthly_charges  tenure
customer_id
3460-TJBWI             24.20      24
8295-KMENE             76.45      59
8039-EQPIM             60.25      69
3777-XROBG             19.55      58
4884-TVUQF            101.30      57

In [4]:
train, test = split_scale.split_my_data(tc_df, 0.8)

In [5]:
std_scaler, train_scaled_std, test_scaled_std = split_scale.standard_scaler(train, test)

In [6]:
train_scaled_std.head()

            monthly_charges    tenure  total_charges
3460-TJBWI        -1.046584 -1.809541      -1.195254
8295-KMENE         0.468623  0.118199       0.325276
8039-EQPIM        -0.001163  0.668982       0.144855
3777-XROBG        -1.181430  0.063121      -1.012267
4884-TVUQF         1.189253  0.008042       0.815250

In [7]:
std_scaler, X_train_scaled_std, X_test_scaled_std = split_scale.standard_scaler(X_train, X_test)

In [8]:
X_train_scaled_std.head()

            monthly_charges    tenure
3460-TJBWI        -1.046584 -1.809541
8295-KMENE         0.468623  0.118199
8039-EQPIM        -0.001163  0.668982
3777-XROBG        -1.181430  0.063121
4884-TVUQF         1.189253  0.008042

In [9]:
train_unscaled, test_unscaled = split_scale.scale_inverse(std_scaler, X_train_scaled_std, X_test_scaled_std)

In [16]:
train_unscaled.head()

            monthly_charges  tenure
3460-TJBWI            24.20    24.0
8295-KMENE            76.45    59.0
8039-EQPIM            60.25    69.0
3777-XROBG            19.55    58.0
4884-TVUQF           101.30    57.0

In [17]:
unf_scaler, train_scaled_unf, test_scaled_unf = split_scale.uniform_scaler(X_train, X_test)
train_scaled_unf.head()

            monthly_charges    tenure
3460-TJBWI         0.256466  0.090909
8295-KMENE         0.602984  0.388889
8039-EQPIM         0.479185  0.641414
3777-XROBG         0.050505  0.373737
4884-TVUQF         0.838384  0.353535

In [18]:
gs_scaler, train_scaled_gs, test_scaled_gs = split_scale.gaussian_scaler(X_train, X_test)
train_scaled_gs.head()

            monthly_charges       tenure
3460-TJBWI         6.054234   601.783587
8295-KMENE        10.412348  4275.197191
8039-EQPIM         9.352131  6037.452765
3777-XROBG         5.433135  4117.299434
4884-TVUQF        11.790033  3962.682642

In [19]:
mm_scaler, train_scaled_mm, test_scaled_mm = split_scale.min_max_scaler(X_train, X_test)
train_scaled_mm.head()

            monthly_charges    tenure
3460-TJBWI         0.057855  0.333333
8295-KMENE         0.579052  0.819444
8039-EQPIM         0.417456  0.958333
3777-XROBG         0.011471  0.805556
4884-TVUQF         0.826933  0.791667

In [20]:
iqr_scaler, train_scaled_iqr, test_scaled_iqr = split_scale.iqr_robust_scaler(X_train, X_test)
train_scaled_iqr.head()

            monthly_charges    tenure
3460-TJBWI        -0.600604 -1.739130
8295-KMENE         0.188373 -0.217391
8039-EQPIM        -0.056248  0.217391
3777-XROBG        -0.670819 -0.260870
4884-TVUQF         0.563609 -0.304348