In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.metrics import mean_squared_error, explained_variance_score
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE

import warnings
warnings.filterwarnings("ignore")

import evaluate
import wrangle
import split_scale
import feature_engineering

# Using the data on student grades from this lesson, complete the following:

In [2]:
df = wrangle.wrangle_grades()
df.head()

   student_id  exam1  exam2  exam3  final_grade
0           1    100     90     95           96
1           2     98     93     96           95
2           3     85     83     87           87
3           4     83     80     86           85
4           5     93     90     96           97

## Split the data into train and test datasets.

In [3]:
train, test = split_scale.split_my_data(df, 0.8)
X_train = train.drop(columns='final_grade')
X_test = test.drop(columns='final_grade')
y_train = train.final_grade
y_test = test.final_grade

In [4]:
predictions = pd.DataFrame({
    'actual': train.final_grade
})

## Create a model that uses exam 1 to predict the final grade.

In [5]:
X = train[['exam1']]
y = train.final_grade

lm = LinearRegression().fit(X, y)
predictions['exam1_lm'] = lm.predict(X)
predictions.head()

    actual   exam1_lm
89      65  65.177796
80      87  86.723480
98      76  77.489615
96      81  82.106547
53      95  96.726833

## Create a model that uses exam 2 to predict the final grade.

In [6]:
X = train[['exam2']]
y = train.final_grade

lm = LinearRegression().fit(X, y)
predictions['exam2_lm'] = lm.predict(X)
predictions.head()

    actual   exam1_lm   exam2_lm
89      65  65.177796  69.472453
80      87  86.723480  87.195957
98      76  77.489615  74.395649
96      81  82.106547  74.395649
53      95  96.726833  97.042348

## Compare your models in the following manner:
### Calculate the mean squared error

In [8]:
SSE1, ESS1, TSS1, MSE1, RMSE1 = evaluate.regression_errors(train.final_grade, predictions.exam1_lm)
SSE2, ESS2, TSS2, MSE2, RMSE2 = evaluate.regression_errors(train.final_grade, predictions.exam2_lm)

In [9]:
MSE1, MSE2

(4.134484679198818, 17.21584923568434)

### Visualize the residuals. Create a separate visualization for each model.

### Visualize the actual vs the predicted values. Create a seperate visualization for each model.

### Bonus: Combine the seperate visualizations for each model into a single visualization. Is this visual helpful?

## Create a model that uses exam 1 and exam 3 to predict final grade. How does this model compare to your previous ones?

## Take your best preforming model and measure its performance on the test data set. How does performance differ between train and test?

> As a customer analyst, I want to know who has spent the most money with us over their lifetime. I have monthly charges and tenure, so I think I will be able to use those two attributes as features to estimate total_charges. I need to do this within an average of $5.00 per customer.

# Run all your previous scripts that acquired, prepared, split, and scaled the telco churn data.

### Fit 3 different linear models to your data, one with just tenure, one with just monthly_charges, and one with both.

### Evaluate the models and your baseline.

### Select the model that performed the best, and apply it to your test data.